CM_PROJ_ID=""
CM_LOG_LEVEL="DEBUG"
CM_TICKETMASTER_API_KEY=""
CM_SPOTIFY_CLIENT_ID=""
CM_SPOTIFY_CLIENT_SECRET=""
CM_SPOTIFY_CALLBACK_URL=""
CM_LASTFM_API_KEY=""
CM_ALERT_EMAIL=""
CM_GMAIL_USER=""
CM_GMAIL_PASSWORD=""
CM_ALBUM_IMAGE_BUCKET=""
